@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb)) !important;
  background-color: #0a0a0a !important; /* Premium Dark Background */
  color-scheme: dark; /* Force Dark Mode */
}